@mixin borderAndPadding {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
}

@mixin color {
    background-color: rgba(0, 0, 0, 0.74);
    color: white;
}

.inputStyle {
    @include borderAndPadding();
    margin-bottom: 5px;
    text-align: center;
    width: 24.8rem;
}

.buttonStyle {
    @include borderAndPadding();
    @include color();
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    text-align: center;
    width: 26.1rem;
}

.poundStyle {
    @include borderAndPadding();
    @include color();
    position: absolute;
}

.zerosStyle {
    @include borderAndPadding();
    @include color();
    margin-left: -53px;
    position: absolute;
}