@mixin backgroundColorBorderWidth{
    background-color: rgba(0, 0, 0, 0.74);
    color: white;
    border: 1px solid black;
    width: 418px; 
}

$bitButtonColor: #EE9542;

.box1Style {
    @include backgroundColorBorderWidth();
}

.box2Style {
    @include backgroundColorBorderWidth();
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.bitButtonStyle {
    border: $bitButtonColor;
    background-image: url(https://i.ibb.co/W0900fG/bitcoin.png);
    background-size: 100%;
    background-color: $bitButtonColor;
    padding: 56px;
    position: absolute;
    border-radius: 50%;
    margin-top: -55px;
    margin-left: -50px;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}