@mixin backgroundBorderColorWidth{
    background-color: rgba(0, 0, 0, 0.74);
    border: 1px solid black;
    color: white;
    width: 418px;
}

$dollarBtnColor: #85bb65;

.box1Style {
    @include backgroundBorderColorWidth();  
}

.box2Style {
    @include backgroundBorderColorWidth();  
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.dollarButtonStyle {
    border: $dollarBtnColor;
    background-image: url(https://i.ibb.co/n3B2C1R/dollar.png);
    background-size: 100%;
    background-color: $dollarBtnColor;
    padding: 56px;
    position: absolute;
    border-radius: 50%;
    margin-top: -55px;
    margin-left: -50px;
}